<div layout="column">
    <div flex class="top">
        <md-toolbar class="toolbar-name">
            <div class="md-toolbar-tools toolbar-text">
                <h5>
                    <span>과제 목록</span>
                </h5>
                <span flex></span>
                <md-button class="md-raised give-hw" ng-click="giveHw($event)"> 과제출제</md-button>
            </div>
        </md-toolbar>
        <form ng-submit="getHwList()">
            <div layout="row">
                <div flex="5"></div>
                <div flex="20">
                    <md-select ng-model="targetCourse" class="filterCourse" placeholder="Course">
                        <md-option ng-repeat="course in courseList">
                            {{course}}
                        </md-option>
                    </md-select>
                </div>
                <div flex="25" class="filter">
                    <span>Start Date</span>
                    <md-datepicker ng-model="datepicker.date1"></md-datepicker>
                </div>
                <div flex="25" class="filter">
                    <span>End Date</span>
                    <md-datepicker ng-model="datepicker.date2"></md-datepicker>
                </div>
                <div flex="25" class="filter">
                    <md-button class="md-raised md-block" ng-click="getHwList()"> Submit</md-button>
                </div>
            </div>
        </form>
    </div>

    <div flex>
        <div ng-repeat="date in dateList">
            <md-button ng-disabled="true" class="md-raised md-primary"> {{date}}</md-button>
            <div ng-repeat="group in groupList" layout="row">
                <div flex="5"></div>
                <div flex="30">{{group}}</div>
                <div flex="5"></div>
                <div flex="30" ng-repeat="problem in problemList"
                     ng-if="problem.date == date && problem.group.name == group">
                    {{problem.name}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <md-divider></md-divider>
    <br>

    <div flex layout="row">
        <div flex="45" class="top">
            <md-toolbar class="toolbar-name">
                <div class="md-toolbar-tools toolbar-text">
                    <h5>
                        <span>과목 관리</span>
                    </h5>
                </div>
            </md-toolbar>
        </div>
        <div flex="5"></div>
        <div flex="45" class="top">
            <md-toolbar class="toolbar-name">
                <div class="md-toolbar-tools toolbar-text">
                    <h5>
                        <span>반 관리</span>
                    </h5>
                </div>
            </md-toolbar>
        </div>
    </div>
</div>
