<md-dialog flex="50">
    <form name="editUserForm" ng-submit="editUser()">
        <md-content class="autoScroll">
            <md-list-item layout="row">
                <span flex="25">이름</span>
                <span flex="25">반명</span>
                <span flex="25">과정명</span>
                <span flex="25">편집</span>
            </md-list-item>
            <md-divider></md-divider>
            <span ng-repeat="course in dialogGroupObj.courses">
                <span ng-repeat="(key, value) in course">
                    <span ng-repeat="user in value.users">
                        <md-list-item layout="row">
                            <span flex="25">{{user.name}}</span>
                            <span flex="25">{{dialogGroupObj.name}}</span>
                            <span flex="25">{{value.name}}</span>
                            <md-select ng-model="selectedCourse" class="filterCourse" placeholder="과정선택">
                                <md-option ng-repeat="(key, value) in dummyObj" ng-value="value">
                                    {{value.name}}
                                </md-option>
                            </md-select>
                        </md-list-item>
                    </span>
                </span>
            </span>
            <md-button type="submit" class="md-raised md-block">Submit</md-button>
            <md-button ng-click="cancel()" class="md-raised md-block">Close</md-button>
        </md-content>
    </form>
</md-dialog>