<md-dialog flex="70">
    <form ng-submit="submit()" novalidate name="submitHomework">
        <div layout="column" width="80%">
            <div flex>
                <div layout="row">
                    <div flex="5"></div>
                    <div flex="45"> {{homeworkObj.name}}</div>
                    <div flex="30"> 제출기한 : {{homeworkObj.date}}</div>
                </div>
            </div>
            <div layout="row" ng-repeat="problem in problemList">
                <div flex="5"></div>
                <div flex="30" class="top">
                    {{$index + 1}}. {{problem.name}}
                </div>
                <div flex="30">
                    <md-input-container required>
                        <md-select ng-model="problem.answer.content" placeholder="Select Answer" value="{{problem.answer.content}}" requried>
                            <md-option ng-repeat="option in answerOptions" >
                                {{option}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>{{problem.answer.content}}</div>
            </div>
            <div flex>
                <div layout="row">
                    <div flex="50">
                        <md-button type="submit" class="md-raised md-block" ng-disabled="submitHomework.$invalid">
                            Submit
                        </md-button>
                    </div>
                    <div flex="50">
                        <md-button class="md-raised md-block" ng-click="cancel()"> Close</md-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</md-dialog>