<md-dialog flex="70">
    <div layout="column" width="80%">
        <div flex>
            <div layout="row">
                <div flex="5"></div>
                <div flex="45"> 과제명 : 1/19 전대윤 보충수업</div>
                <div flex="30"> 제출일자 : 1/19</div>
            </div>
        </div>
        <div layout="row">
            <div flex="5"></div>
            <div flex="30">
                <ol>
                    <li ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                        {{i}}
                        <md-input-container>
                            <md-select ng-model="userAnswer">
                                <md-option ng-repeat="answer in answerList">
                                    {{answer}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </li>
                </ol>
            </div>
            <div flex="30">
                <ul>
                    <li ng-repeat="i in [11,12,13,14,15,16,17,18,19,20]">
                        {{i}}
                        <md-input-container>
                            <md-select ng-model="userAnswer">
                                <md-option ng-repeat="answer in answerList">
                                    {{answer}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </li>
                </ul>
            </div>
            <div flex="30">
                <ul>
                    <li ng-repeat="i in [21,22,23,24,25,26,27,28,29,30]">
                        {{i}}
                        <md-input-container>
                            <md-select ng-model="userAnswer">
                                <md-option ng-repeat="answer in answerList">
                                    {{answer}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </li>
                </ul>
            </div>
            <div flex="5"></div>
        </div>
        <div flex>
            <div layout="row">
                <div flex="50">
                    <md-button type="submit" class="md-raised md-block"> Submit</md-button>
                </div>
                <div flex="50">
                    <md-button class="md-raised md-block" ng-click="cancel()"> Close</md-button>
                </div>
            </div>
        </div>
    </div>
</md-dialog>